{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Clase de equipos</h1>
<div class="form-control">
  <h3>Agregar una clase</h3>
  <form class="form-group" action="." method="post">{%  csrf_token %}
    <div class="{{fc}}">
      {{form.as_p}}
    </div>
    <button class="btn btn-primary" type="submit" name="btn-guardar">Guardar</button>
  </form>
</div> <!--Formulario para agregar-->

<br>

{% if messages %}

  <div class="messages alert-dismissible" id="Mensajes">
      {% for message in messages %}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
  </div><!--Mensajes-->

{% endif %}

{% if clases %}

<br>
<h5>Buscar clase</h5>
<input id="buscar" type="text" class="form-control" placeholder="buscar..">

<form class="" action="." method="post">{% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th>Lista de clases</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="myTable">

      {% for class in clases %}
      <tr >
        <td id="{{class.id}}">{{class}}</td>
        <td><button class="btn btn-secondary" ic-target="#{{class.id}}" ic-get-from="{% url "UpdateClase" class.id %}"  name="btn-">Editar</button></td>

        <td ic-confirm ='¿Eliminar la clase {{class}}?'>
          <button class="btn btn-danger" type="button" name="button" ic-delete-from="{% url "DeleteClase" class.id %}" ic-target="#myTable" ic-select-from-response="#myTable">
            Eliminar
            <i class="ic-indicator fa fa-spinner fa-spin" style="display: none"></i>
          </button>
        </td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</form> <!--formulario editar eliminar-->

{% else %}

<h5>No hay clases registradas </h5>

{% endif %}

{% block script %}
  <script src="{% static "js/buscar.js"%}"></script>
{% endblock %}

{% endblock %}
