{% extends 'base.html' %}

{% block headScript %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>
      {{title}}
      <a href="{% url "UpdatePersona" persona.id %}">
        <i class="material-icons">
          create
        </i>
      </a>
    </h1>
  </div>
  <div class="col text-right">
    <form class="" action="{% url "DeletePersona" persona.id %}" method="post">{% csrf_token %}
      <button type="submit" name="btn-delete" class="btn btn-danger" value="{{personal.id}}">
        <i class="material-icons">
          delete
        </i>
      </button>
    </form>
  </div>
</div>



<div class="row">
  <div class="form-control">
    <div class="col">
      <strong>Nombre: </strong>
      {{persona.nombre}}
      {% if persona.NombreSecundario %} {{persona.NombreSecundario}}{% else %} {% endif %}
      {{persona.apellido_paterno}}
      {{persona.apellido_materno}}

    </div>
    <div class="col-6">
      <strong>Area:</strong>
      {{persona.area}}
    </div>
    <div class="col-6">
      <strong>Puesto:</strong>
      {{persona.puesto}}
    </div>
    {% if persona.personalequipohistoria_set.all%}
    <div class="col">
      <strong><a href="{% url "Historial" persona.id%}">Historial</a></strong>
    </div>
    {% endif %}

    {% if persona.GestorIdentificador and not persona.Gestor %}

    <div class="col-6">
      <strong>Gestor:</strong>
      <a href="{% url "PersonaDetail" persona.GestorIdentificador.id %}">  {{persona.GestorIdentificador.nombre}} {{persona.GestorIdentificador.apellido_paterno}} </a>

    </div>
    {% endif %}
  </div>
</div><!--  Datos de la persona -->

<br>


<div class="">
  <div class="row">
    <div class="col">
      <h2>
        Equipos
        <a href="{% url "Asignar" persona.id%}">
          <i class="material-icons">
            add_to_queue
          </i>
        </a>
      </h2>
    </div>
    <div class="col">
      <p>  <strong>Equipos: </strong>{% if persona.total_equipos %} {{persona.total_equipos}} {% else %} 0 {% endif %}</p>
    </div>
    <div class="col">
      <p>  <strong>Equipos atrasados: </strong>{% if persona.total_equipos_vencidos %} {{persona.total_equipos_vencidos}} {% else %} 0 {% endif %}</p>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Serie</th>
        <th>Categoria</th>
        <th>Fecha de entrega</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for equipo in equipos %}
    <tr {% if equipo.alerta %} class="alert alert-danger"{% endif %}>
      <td><a href="{% url "DetailEquipo" equipo.equipo.id%}">{{equipo.equipo.serie}}</a></td>
      <td>{{equipo.equipo.clase}}</td>
      <td>{{equipo.fecha_termino.date}}</td>
      <td>{% if equipo.alerta%} Atrasado {% else %} Activo {% endif %}</td>

      <td>
        <form class="" action="{% url "Devolver" equipo.id %}" method="post">{% csrf_token %}
          <button class="btn btn-info" type="submit" name="button">Devolver</button>
        </form>
      </td>

    </tr>
    {% empty %}
    <tr>
      <td>No hay equipos relacionados</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div><!--  Equipos -->


{% if persona.Gestor %}
  <h2>
    Gestiona
    <small>
      <a href="{% url "PersonaGestor" persona.id %}">
        <i class="material-icons">
          create
        </i>
      </a>
    </small>
  </h2>
  <form class="" action="{% url "PersonaGestorDelete" persona.id %}" method="post">{% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Nombre del personal </th>
          <th>Cantidad de equipos</th>
          <th>Cantidad de equipos vencidos</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for personal in persona.persona_set.all %}
        <tr>
          <td><a href="{% url "PersonaDetail" personal.id %}">{{personal.nombre}} {{personal.apellido_paterno}}</a></td>
          <td>{{personal.personalequipo_set.all.count}}</td>
          <td>{{personal.total_equipos_vencidos}}</td>
          <td>
            <button type="submit" name="btn-eliminar" class="btn btn-danger" value="{{personal.id}}">
              <i class="material-icons">
                delete
              </i>
            </button>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No hay personal relacionado</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </form> <!--  Gestion -->

{% endif %}




{% endblock %}
