{% extends 'Personal/base.html' %}
{% block content %}
  <h1>{{title}}</h1>

  <div class="">
    <form class="form-control" action="." method="POST">{% csrf_token %}
      <div class="form-group">

          {{form.as_p}}

      </div>

      <button class="btn btn-primary" type="submit" name="button">Guardar</button>

      {{form.errors}}
    </form>
    <br>
    <form action="." method="POST">{% csrf_token %}
      <div class="text-right">
        <button class="btn btn-danger" type="submit" name="btn-cancelar">Cancelar</button>
      </div>
    </form>
  </div>


  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  {% if area %}
    <h1>Area encontrada</h1>
    <div class="">
      <h2>{{area.CDC}}  {{area.Area}}</h2>

    </div>
  {% endif %}
{% endblock %}
