{% extends 'Personal/base.html' %}
{% load static %}
{% block content %}

  <h1>{{title}}</h1>

  <h3>Buscar un área</h3>
  <input type="text" id="buscar" placeholder="Buscar.." class="form-control">
  <br>
  <div class="text-right">
    <a class="btn btn-primary pull-right" href="./nueva/">Crear area</a>
  </div>


    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Centro de costos</th>
          <th>Área</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myTable">

        <form class="" action="." method="POST"> {% csrf_token %}
          {% for area in areas %}
          <tr>
              <div class="">
                <!-- ---------------------- -->
                <td>{{area.CDC}}</td>
                <td>{{area.area_str}}</td>
              </div>
              <td><button class="btn btn-secondary" type="submit" name="btn-editar" value="{{area.id}}">Editar</button></td>
              <td><button class="btn btn-danger" type="submit" name="btn-eliminar" value="{{area.id}}">Eliminar</button></td>

          </tr>
          {% endfor %}
        </form>

      </tbody>
    </table>



  </div>

  {% block script %}
    <script src="{% static "js/buscar.js" %}">

    </script>
  {% endblock %}
{% endblock %}
