{% extends 'Personal/base.html' %}

{% block content %}
  <h1>{{title}}</h1>

  <form class="form-control" action="." method="POST">{% csrf_token %}
    <div class="form-group">
      {{form.as_p}}
    </div>

    <button type="submit" class="btn btn-primary" name="button", value="Update">Guardar</button>
  </form>

  <br>

  <form class="" action="." method="POST">{% csrf_token %}
    <div class="text-right">
      <button class="btn btn-danger" type="submit" name="btn-cancelar">Cancelar</button>
    </div>
  </form>


    <!-- {% for field, error in form.errors.items %}
      {{error}}
    {% endfor%} -->

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
