{% extends 'Personal/base.html' %}
{% block content %}


<h1>{{title}}</h1>

<div class="row">
  <div class="form-control">
    <div class="col">
      <strong>Nombre: </strong>
      {{persona.Nombre}}
      {% if persona.NombreSecundario %} {{persona.NombreSecundario}}{% else %} {% endif %}
      {{persona.Apellido}}
      {{persona.ApellidoMaterno}}

    </div>
    <div class="col-6">
      <strong>Area:</strong>
      {{persona.Area}}
    </div>
    <div class="col-6">
      <strong>Puesto:</strong>
      {{persona.Puesto}}
    </div>
    {% if persona.personalequipohistoria_set.all %}
    <div class="col">
      <strong><a href="{% url "Historial" persona.id%}">Historial</a></strong>
    </div>
    {% endif %}

    {% if persona.GestorIdentificador %}
    <div class="col-6">

      <strong>Gestor:</strong>
      <a href="{% url "PersonaViewDetail" persona.GestorIdentificador.id%}">  {{persona.GestorIdentificador.Nombre}} {{persona.GestorIdentificador.Apellido}} </a>

    </div>
    {% endif %}
  </div>
</div>

<br>


<div class="">
  <div class="row">
    <div class="col">
      <h2>Equipos </h2>
    </div>
    <div class="col">
      <strong><a href="{% url "Asignar" persona.id%}">Asignar</a></strong>
    </div>
    <div class="col">
      <p>  <strong>Equipos: </strong> {{persona.total_equipos}}</p>
    </div>
    <div class="col">
      <p>  <strong>Equipos atrasados: </strong> {{persona.total_equipos_vencidos}}</p>
    </div>
  </div>
{% if equipos %}
  <table class="table">
    <thead>
      <tr>
        <th>Serie</th>
        <th>Categoria</th>
        <th>Fecha de entrega</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for equipo in equipos %}
    <tr {% if equipo.alerta %} class="alert alert-danger"{% endif %}>
      <td><a href="{% url "DetailEquipo" equipo.equipo.id%}">{{equipo.equipo}}</a></td>
      <td>{{equipo.equipo.clase}}</td>
      <td>{{equipo.fecha_termino.date}}</td>
      <td>{% if equipo.alerta%} Vencido {% else %} Activo {% endif %}</td>

      <td>
        <form class="" action="{% url "Devolver" equipo.id %}" method="post">{% csrf_token %}
          <button class="btn btn-info" type="submit" name="button">Devolver</button>
        </form>
      </td>

    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if persona.Gestor %}
  <h2>Gestiona</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre del personal </th>
        <th>Cantidad de equipos</th>
        <th>Cantidad de equipos vencidos</th>
      </tr>
    </thead>
    <tbody>
      {% for personal in persona.personas_set.all %}
      <tr>
        <td><a href="{% url 'PersonaViewDetail' personal.id %}">{{personal.Nombre}} {{personal.Apellido}}</a></td>
        <td>{{personal.personalequipo_set.all.count}}</td>
        <td>{{personal.total_equipos_vencidos}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endif %}




{% endblock %}
