{% extends 'Personal/base.html' %}

{% block content %}

<h1>Gestión</h1>

<div class="form-control ">
  <h3>Personal dentro del área</h3>
  <form class="form-group" action="." method="POST">{% csrf_token %}
      {% if personas %}
      {% for persona in personas %}
        {% if persona.id !=  persona_id%}

          <div class="form-check">
            <input type="checkbox" id="{{persona.id}}" name="choices" value="{{persona.id}}" {% if persona in obj.personas_set.all%} checked {% endif %}>
            <label for="{{persona.id}}">{{persona.Nombre}} {{persona.Apellido}}</label>
          </div>

        {% endif %}
      {% endfor %}
      <br>
      <button class="btn btn-primary" type="submit" name="button">Guardar</button>
      {% else %}
        <h3>No hay personal que gestionar</h3>
      {% endif %}


  </form>
</div>


{% endblock %}
