{% extends 'Personal/base.html' %}

{% block content %}
  <h1>{{title}}</h1>

  <form class="" action="." method="POST">{% csrf_token %}
    <div class="">
      {{form.as_p}}
    </div>

    <button type="submit" name="button", value="Update">Guardar</button>
    <form>
    <input type="button" value="Volver atras" onclick="history.go(-1)">
    </form>
    {% for field, error in form.errors.items %}
      {{error}}
    {% endfor%}
  </form>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
