{% extends 'Personal/base.html' %}
{% load static %}
{% block content %}

    <h1>{{ title }}</h1>
    <form class="form-control" action="." method="POST">{% csrf_token %}
      <h3>Agregar puesto de trabajo</h3>

      {{ form.Puesto }}


      <br>
      <button class="btn btn-secondary" type="submit" name="btn-guardar">Guardar</button>

      {{ form.errors }}
    </form>

    {% if messages %}
      <ul class="messages" id="Mensajes">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}


    <br>


    {% if puestos %}
      <h3>Buscar un puesto</h3>
      <input type="text" id="buscar" placeholder="Buscar" class="form-control">

      <form class="" action="." method="POST">{% csrf_token %}
        <table class="table">
          <thead>
            <tr>
              <th>
                Lista de puestos de trabajo
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="myTable">
            {% for puesto in puestos %}

                <tr >
                  <td id="{{puesto.id}}">{{ puesto}}</td>
                  <td><button class="btn btn-secondary" ic-target="#{{puesto.id}}" ic-get-from="{% url "PuestoViewEditar"  puesto.id%}"> Editar</button></td>
                  <td><button class="btn btn-danger" ic-confirm="¿Estas seguro?" type="submit" name="btn-eliminar" value="{{ puesto.id }}">Eliminar</button></td>
                </tr>

            {% endfor %}
          </tbody>
        </table>
      </form>
    {% else %}
      <h3>No hay puestos registrados</h3>
    {% endif %}



    {% block script %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
      <script src="{% static "js/buscar.js" %}"></script>

    {% endblock %}

{% endblock %}
