{% extends 'base.html' %}
{% load static %}

{% block headScript %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>
{% endblock %}

{% block content %}

<h1>Software</h1>

<div class="form-control">
  <h3>Agregar Software</h3>
  <form class="form-group" action="." method="POST">{% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit" name="btn-guardar">Guardar</button>
  </form>
</div> <!--Formulario agregar -->


<div class="" id="act">
{% if messages %}

  <div class="messages" id="Mensajes">
      {% for message in messages %}
      <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
  </div><!--Mensajes-->

{% endif %}

{% if programas %}

  <br>
  <h5>Buscar software</h5>
  <input id="buscar" type="text" class="form-control" placeholder="buscar..">

  <form class="" action="." method="post">{% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Lista de software</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myTable">

        {% for programa in programas %}
        <tr >
          <td id="{{programa.id}}">{{programa}}</td>
          <td><button class="btn btn-secondary" ic-target = "#{{programa.id}}" ic-get-from = "{% url "UpdateSoftware" programa.id %}">Editar</button></td>
          <td ic-confirm="¿Eliminar el software {{programa}}?">
            <button class="btn btn-danger" ic-delete-from="{% url "DeleteSoftware" programa.id %}" ic-target="#act" ic-select-from-response="#act">
              Eliminar
              <i class="ic-indicator fa fa-spinner fa-spin" style="display: none"></i>
            </button>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </form> <!--formulario editar eliminar-->

</div>

{% else %}

<h5>No hay software registrados.</h5>

{% endif %}
{% endblock %}

{% block script %}
<script src="{% static "js/buscar.js"%}">

</script>
{% endblock %}
