{% extends 'base.html' %}

{% load static %}

{% block headScript %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>
{% endblock %}

{% block content%}

<h1>Hardware</h1>


{% if hardware %}

<br>
<h5>Buscar Hardware </h5>
<input id="buscar" type="text" class="form-control" placeholder="buscar..">

<div class="text-right">
  <br>
  <a class="btn btn-primary" href="{% url "CreateHardware" %}">Registrar hardware</a>
  <br>
</div>


<div class="" id="act">
  {% if messages %}
    <br>
    <div class="messages alert-dismissible" id="Mensajes">
        {% for message in messages %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div><!--Mensajes-->

  {% endif %}



  <form class="" action="." method="post">{% csrf_token %}
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Hardware</th>
          <th>Descripción</th>
          <th>Clase</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myTable">

        {% for hw in hardware %}
        <tr >
          <td>{{hw}}</td>
          <td>{% if hw.descripcion %}{{hw.descripcion}}{% endif %}</td>
          <td>{% for clase in hw.clases.all%} {{clase}} -{% endfor %}</td>
          <td><a class="btn btn-secondary" href="{% url "UpdateHardware" hw.id %}">Editar</a></td>

          <td ic-confirm="¿Eliminar el hardware {{hw}}?">
            <button class="btn btn-danger" ic-delete-from = "{% url "DeleteHardware" hw.id %}" ic-target ="#act" ic-select-from-response="#act">
              Eliminar
            </button>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </form> <!--formulario editar eliminar-->
</div>


{% else %}

<h5>No hay hardware registrados</h5>
<a class="btn btn-primary" href="{% url "CreateHardware" %}">Registrar hardware</a>
{% endif %}




{% endblock %}

{% block script %}
<script src="{% static "js/buscar.js"%}">

</script>
{% endblock %}
